@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.title {
  margin-left: 10%;
}

/********** NAVBAR **********/

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.nav-item {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 30px;
}

/********** PICS **********/

.item {
  float: left;
  width: 33.33%;
  height: auto;
}

.pics::after {
  content: "";
  clear: both;
  display: table;
}

/********** UTILITIES **********/

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/********** BODY  UPPER **********/

.container {
  display: flex;
  margin: 0 auto;
  padding-top: 5%;
}

.element {
  flex: 0 0 45%;
  text-align: left;
}

/********** BODY **********/

.black {
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
  padding-top: 5%;
  background: linear-gradient(180deg, #000000 75%, #ffffff 25%);
}

.black-title {
  color: white;
  text-align: center;
}

.black-pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.black-item {
  width: 25%;
  height: 25%;
}

.text {
  width: 50%;
  margin: auto auto;
  padding-top: 2%;
}

/********** FOOTER **********/

.footer {
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 1%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

.social-block {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.social-item {
  display: inline;
  float: center;
  font-size: 20pt;
  margin: 1em;
}

.social:link {
  color: white;
  text-decoration: none;
}

.social:link:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
