@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/********** NAVBAR **********/

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.nav-item {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 30px;
}

/********** SLIDESHOW **********/

.carousel {
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 3em;
}

/********** BODY **********/

h1 {
  text-transform: uppercase;
}

.container {
  display: flex;
  margin: 0 auto;
  padding-top: 5%;
}

.element {
  flex: 0 0 45%;
  text-align: center;
}

/********** FOOTER **********/

.footer {
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 1%;
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

.social-block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item {
  display: inline;
  float: center;
  font-size: 20pt;
  margin: 1em;
}

.social:link {
  color: white;
  text-decoration: none;
}

.social:link:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
