@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.read-more {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 32px;
  text-decoration: none;
  color: white;
  background-color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.read-more:hover {
  background-color: darkgray;
}

/********** NAVBAR **********/

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.nav-item {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 30px;
}

/********** SLIDESHOW **********/

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-top: 3em;
}

/********** WHO WE ARE **********/

.container {
  display: flex;
  margin: 0 auto;
  padding-top: 5%;
}

.element {
  flex: 0 0 45%;
  text-align: center;
}

/********** WHO WE ARE **********/

.block {
  margin-top: 5%;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text {
  margin-top: 2em;
  text-align: center;
}

/********** FOOTER **********/

.footer {
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 1%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

.social-block {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item {
  display: inline;
  float: center;
  font-size: 20pt;
  margin: 1em;
}

.social:link {
  color: white;
  text-decoration: none;
}

.social:link:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.social:link::after {
  color: white;
  text-decoration: none;
}
